*{
    margin: 0;
    padding: 0;
}

#columna {
float: left;
margin: 70px;
}

.categorias li{
 background-color: green;
}

.titulo-cat{

}

.btnFecha{
    
}

.boton{
    margin-left: 10px;
    background-color: green;
}