*{
    margin: 0px;
    padding: 0px;
}

header{
    color: #ffffff;
}

#principal{
    margin: center;
}

.boton{
    margin-left: 10px;
    background-color: green;
    color: #ffffff;
}

#columna li:nth-child(even) {
    background-color: #015a1c;
}

#columna li:nth-child(odd) {
    background-color: #024817;
}

body {
    background-image: url(imagenes/media/unnamed.jpg);
}

#columna {
float: left;
width: 150px;
margin-left: 70px;
margin-top: 50px;
margin-right: 50px;
padding-top: 0pt;
padding-right: 0pt;
padding-bottom: 0pt;
padding-left: 0px;
list-style-type: none;
list-style-image: none;
list-style-position: outside;
background-color: #17573d;
}

.categorias li{
 background-color: #015a1c;;
 font-family: Roboto,sans-serif,Arial,Helvetica;
 color: white;
 padding-top: 2.5px;
 padding-bottom: 2.5px;
}

.titulo-cat{
 color: #c2e213;
 background-color: #102100;
 font-family: Roboto,sans-serif,Arial,Helvetica;
 font-size: 20px;
}

#principal{
    float: right;
    width: auto;
    margin-right: 33%;
    margin-left: 10%;
}

#navegacion{
    display: flex; 
    margin: auto; 
    font-family: Arial;
    padding-top: 0pt;
}

#navegacion a{
    width: 100px;
    border: 1px solid #000000;
    padding: 0px;
    background-color: #68a54b;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-shadow: #000 0.1em 0.1em 0.1em;
}

#navegacion a:hover{
    background-color: #6aed98;
}

#titulo1{
    width: 250px;
    background-color: #125e2a;
    color:  #ffffff;
    text-align: center;
    text-shadow: #000 0.1em 0.1em 0.1em;
    border: 1px solid #000000;
}

#botonAyer{
    border-radius: 15px 0px 0px 15px;
}

#botonMan{
    border-radius: 0px 15px 15px 0px;
}

#botonesAccion{
    margin-top: 100px;
}

#botonesAccion .boton{
    box-shadow: inset 0 1px 0 0 #9acc85;
    background-color: #68a54b;
    border: 1px solid #3b6e22;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: .8em;
    font-weight: 700;
    padding: 3px 6px;
    text-decoration: none;
    text-shadow: 0 2px 2px #000;
}

ul {
    list-style: none;
}