*{
    margin: 0;
    padding: 0;
}

header{
    color: #ffffff;
}

#principal{
    margin: center;
}

.boton{
    margin-left: 10px;
    background-color: green;
    color: #ffffff;
}

#columna a {
    color: #ffffff;
    text-decoration: none;
}

#columna li:nth-child(even) {
    background-color: #015a1c;
}

#columna li:nth-child(odd) {
    background-color: #024817;
}

#columna li:hover {
    background-color: #213B0A;
    border-left: 0.5em solid #c2e213;
}

body {
    background-image: url(imagenes/media/unnamed.jpg);
}

#columna {
    float: left;
    margin: 70px;
    background-color: #17573d;
    width: 150px;
}

.categorias li{
 background-color: #015a1c;;
 font-family: Roboto,sans-serif,Arial,Helvetica;
 color: white;
 padding-top: 2.5px;
 padding-bottom: 2.5px;
}

.titulo-cat{
 color: #c2e213;
 background-color: #102100;
 font-family: Roboto,sans-serif,Arial,Helvetica;
 font-size: 20px;
}

#columna h1:hover{
    text-shadow: 0 0 0.5em #fff;
}

#navegacion{
    display: flex; 
    margin: auto; 
    font-family: Arial;
}

#navegacion a{
    width: 80px;
    border: 1px solid #000000;
    padding: 0px;
    background-color: #68a54b;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-shadow: #000 0.1em 0.1em 0.1em;
}

#navegacion a:hover{
    background-color: #6aed98;
}

#titulo1{
    width: 200px;
    background-color: #125e2a;
    color:  #ffffff;
    text-align: center;
    text-shadow: #000 0.1em 0.1em 0.1em;
    border: 1px solid #000000;
}

#botonAyer{
    border-radius: 10px 0px 0px 10px;
}

#botonMan{
    border-radius: 0px 10px 10px 0px;
}

.boton{
    box-shadow: inset 0 1px 0 0 #9acc85;
    background-color: #68a54b;
    border: 1px solid #3b6e22;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: .8em;
    font-weight: 700;
    padding: 3px 6px;
    text-decoration: none;
    text-shadow: 0 2px 2px #000;
}

ul {
    list-style: none;
}

#columna h4{
    box-shadow: inset 0 1px 0 0 #9acc85;
    background-color: #74ad5a;
    border: 1px solid #3b6e22;
    cursor: pointer;
    color: #fff;
    margin-bottom: 25px;
    padding-left: 18px;
    font-family: Roboto,sans-serif,Arial,Helvetica;
    font-size: 18px;
}

#columna h4:hover{
    text-shadow: 0 0 0.5em #fff;
}